@import url(960-grid-system/reset.css);
@import url(960-grid-system/text.css);
@import url(960-grid-system/960.css);

html {
  /*background-color: #c5b358;*/
  /*background-image: url(../images/12_col.gif);*/
  /*background-color: #ebebeb;*/
}


body {

  color: white;
  /*background-color: #ebebeb;*/
  /*background-image: url("../images/12_col.gif");*/
  background-image: url("../images/background.png");
  margin: 0px;
  text-align: center;

}


#header {
  background-color: rgba(139, 139, 139, 0.76);
  padding: 0px;
  height: 100px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 50;
}

.nav {
  float: right;
  padding: 40px 0px 0px 0px;
  text-align: right;

}

#logo {
  width: 300px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;

}

a {
  color: #ffdf00;
  text-decoration: none;
}

a:hover {
  color: black;
}

#news {
  margin: 100px 8px 0px 10px;
  border: 1px solid black;
}

#sidebar {
  margin: 100px 10px 0px 8px;
  border: 1px solid black;
}
