html {
  background-color: #c5b358;
}


body {
  
  margin-left: auto;
  margin-right: auto;
  
  width: 960px;
  height: 1000px;
  
  background-color: white;
  
}

#navbar {
  
  width; 940px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  color: #c5b358;
  
}

li {
  display: inline;
  margin: 20px;
  font-size: 20px;
}

li.templist {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}
a :hover {
  color: gray;
}
