$primary-yellow: #FFCA00;
$secondary-yellow: #f5c40a;
$darker-black: #101010;
$lighter-black: #212624;
$primary-grey: #aaaaaa;
$lighter-white: #f9f8f2;
$darker-white: #e0e0e0;

$font: 'Ubuntu', sans-serif;
