$primary-yellow: #FFCA00;
$secondary-yellow: #f5c40a;
$darker-black: #101010;
$lighter-black: #212624;
$primary-grey: #aaaaaa;
$lighter-white: #f9f8f2;
$darker-white: #e0e0e0;

$font: 'Ubuntu', sans-serif;

*, *:before, *:after {
	box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
div,
blockquote,
ul, li {
	border: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6
p,
blockquote,
li {
	font-family: $font;
}

.layout-main-edgeMargin {
	max-width: 930px;
	padding: 0 15px;
}

header {
	background-color: $primary-yellow;
	display: flex;
	flex-flow: row nowrap;

	img {
		height: 100vh;
	}

	.title {
		padding: 5px 10px;
		margin: 10px 10px;

		h1, h2, p {
			font-family: $font;
			color: $darker-black;
		}

		h1 {
			font-size: 60px;
		}

		h2 {
			font-size: 30px;
		}

		p {
			margin: 30px 0;
			font-size: 22px;
		}
	}
}

main {
	margin: 30px 0;

	blockquote {
		color: $primary-grey;
		font-size: 25px;
		text-align: center;
		margin: 20px 0;
	}

	section {
		padding-top: 50px;
		h1 {
			font-family: $font;
			font-size: 45px;
			text-align: center;
			color: $lighter-black
		}

		h2 {
			@extend h1;
			font-size: 35px;
			margin: 15px;
		}

		p {
			margin: 35px auto;
			font-family: $font;
			font-size: 20px;
			line-height:1.5;
		}
	}

	.about {
		h1 {
			@extend .layout-main-edgeMargin;
			margin: 0 auto;
		}

		p {
			@extend .layout-main-edgeMargin;
		}

		blockquote {
			@extend .layout-main-edgeMargin;
			margin: 20px auto;
		}

		img {
			display: block;
			width: 50%;
			margin: 20px auto 30px auto;
		}

		p::first-letter {
			font-size: 40px;
		}

		@media screen and (max-width: 590px) {
			h1 {
				font-size: 38px;
			}

			blockquote {
				font-size: 25px;
			}

			p {
				font-size: 18px;
				text-align: center;
			}
		}
	}

	.team {
		ul {
			@extend .layout-main-edgeMargin;
			margin: 0 auto;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: baseline;
			list-style-type: none;
		}

		li {
			text-align: center;
			width: 200px;

			img {
				border-radius: 100%;
				width: 100%;
				padding: 10px 0;
			}

			p {
				margin: 0 auto;
				padding: 0;
				width: 100%;
				font-size: 18px;
			}
		}

		li:first-child {
			order: 1;
			width: 250px;
		}

		li:last-child {
			order: 2;
		}

		@media screen and (max-width: 685px) {
			h1 {
				font-size: 38px;
			}

			h2 {
				font-size: 32spx;
			}

			ul {
				flex-flow: column nowrap;
				align-items: center;
			}

			li:first-child {
				order: 0;
			}
		}

		div.teams {
			display: flex;
			flex-flow: row wrap;

			i {
				font-size: 30px;
				color: $primary-yellow;
			}

			.mechanical {
				width: 50%;
				border-top: 2px solid $darker-white;
				border-right: 2px solid $darker-white;
				padding: 30px;

				h3 {
					font-size: 25px;
					margin: 10px 0;
				}

				p {
					margin: 0;
					padding: 0;
					width: 100%;
				}
			}

			.programming {
				@extend .mechanical;
				border-right: none;
			}

			@media screen and (max-width: 685px) {
				.mechanical, .programming {
					width: 100%;
				}

				p {
					font-size: 18px;
				}
			}
		}
	}

	.competition {
		display: flex;
		flex-flow: row-reverse nowrap;
		background-color: $darker-white;
		padding-top: 0;

		.explanation {
			width: 40%;
			margin: 20px;
			margin-bottom: 0;

			h1, blockquote {
				text-align: right;
			}

			p {
				font-size: 18px;
				margin-bottom: 0;
			}
		}

		ul {
			list-style-type: none;
			display: flex;
			flex-flow: row wrap;
			align-content: flex-start;
			width: 750px;
			overflow: hidden;
		}

		li {
			width: 225px;
			img {
				width: 100%;
				margin-bottom: -5px;
			}
		}

		@media screen and (max-width: 1120px) {
			.explanation {
				position: absolute;
				margin: 0;
				left: 0;
				width: 100%;

				p, h1, blockquote {
					text-align: center;
					color: $primary-yellow;
				}
			}

			ul {
				width: 100%;
			}

			li {
				width: 33%;
			}
		}

		@media screen and (max-width: 550px) {
			.explanation {
				h1 {
					font-size: 35px;
				}

				blockquote {
					font-size: 22px;
				}

				p {
					font-size: 15px;
				}
			}
		}
	}

	.community {
		h1 {
			margin: 30px auto;
		}
		ul {
			max-width: 1100px;
			margin: 0 auto;
			list-style-type: none;
		}

		li {
			margin: 40px 0;
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			padding: 20px;

			img {
				width: 50%;
			}

			h2, p {
				text-align: left;
				padding: 5px 40px;
				width: 100%;
				margin: 0;
			}

			h2 {
				font-size: 25px;
			}

			p {
				font-size: 18px;
			}
		}

		@media screen and (max-width: 1100px) {
			li {
				h2 {
					font-size: 20px;
				}
				p {
					font-size: 15px;
				}
			}
		}

		@media screen and (max-width: 700px) {
			li {
				flex-flow: column nowrap;

				h2 {
					text-align: center;
				}

				img {
					display: block;
					margin: 15px auto;
					padding: 0;
					width: 100%;
				}
			}


		}
	}
}

footer {
	img {
		display: block;
		width: 25%;
		margin: 0 auto;
		position: relative;
		top: 100px;
	}

	section {
		width: 50%;
		padding: 20px;

		h1 {
			font-size: 35px;
		}
	}

	.footer {
		display: flex;
		flex-flow: row nowrap;

		.support {
			border-top: 2px solid $darker-white;
			border-right: 2px solid $darker-white;
		}

		.contact {
			border-top: 2px solid $darker-white;

			h1 {
				text-align: right;
			}

			ul {
				list-style-type: none;
				padding-top: 50px;
			}
		}
	}
}
