.title {
	padding: 5px 10px;
	margin: 10px 10px;

	h1, h2, p {
		font-family: $font;
		color: $darker-black;
	}

	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 30px;
	}

	p:first-of-type {
		font-size: 22px;
	}

	p {
		margin: 30px 0;
		font-size: 16px;
	}
}

@media screen and (max-width: 1175px) {
	.title {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;

		h1, h2, p {
			color: $primary-yellow;
			text-align: center;
		}

		p {
			padding: 10px;
			margin: 0 auto;
			max-width: 700px;
		}
	}
}

@media screen and (max-width: 500px) {
    .title {
        h1 {
            font-size: 45px;
            padding: 0 5px;
        }

        h2 {
            font-size: 20px;
        }

        p:first-of-type {
    		font-size: 18px;
    	}

        p {
    		font-size: 16px;
    	}
    }
}
