#calendarPage {
	background-color: $lighter-white;

	h1 {
	    font-family: $font;
	    text-align: center;
	    color: $lighter-black;
	    padding: 55px 0 15px 0;
		font-weight: 400;
		font-size: 48px;
	}

	iframe {
	    text-align: center;
	}
}
