#calendarPage {
	background-color: $lighter-white;
	
	h1 {
	    font-family: $font;
	    font-size: 65px;
	    text-align: center;
	    color: $lighter-black;
	    padding: 55px 0 15px 0;
	}

	iframe {
	    text-align: center;
	}
}
