@import 'title';

header {
	background-color: $primary-yellow;
	display: flex;
	flex-flow: row nowrap;
    overflow: hidden;
    padding-top: 35px;

	img {
		height: 650px;
	}
}

@media screen and (max-width: 1175px) {
    nav {
        z-index: 1;
    }

    header {
		position: relative;

		img {
			width: 100%;
            min-width: 600px;
			height: 100%;
		}
	}
}
